<html>
<head>
	<title>Opgave 5.6 session data</title>
</head>

<body>
{% if session.sessionStuff %}
<h1>Session data</h1>
{% for entry in session.sessionStuff %}
{{ forloop.counter }}. {{ entry }}<br/>
{% endfor %}
{% endif %}

<h1>Voeg een sessie entry toe</h1>
<form action="{% url 'opgave5:addSessionStuff' %}" method="post">
	{% csrf_token %}
	<input type="text" name="addToSession">
	<input type="submit">
</form>

</body>
</html>